/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

app/public/*
# Application
app/bedrock/web/app/plugins/*
!app/bedrock/web/app/plugins/.gitkeep
app/bedrock/web/app/mu-plugins/*/
app/bedrock/web/app/themes/twentytwentythree/
app/bedrock/web/app/upgrade
app/bedrock/web/app/uploads/*
!app/bedrock/web/app/uploads/.gitkeep
app/bedrock/web/app/cache/*

# WordPress
app/bedrocweb/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
